<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        Add Theatre
      </h1>
      <form action="/admin/addTheatre" method="POST">
        <div class="form-group">
          <label for="name">Theatre Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
          />
        </div>
        <div class="form-group">
          <label for="name">Location</label>
          <input
            type="name"
            id="location"
            name="location"
            class="form-control"
            placeholder="Enter Location"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
