<div class="container-fluid mt-4">
  <p class="h2">Select movie to create the show</p>
</div>
<div class="container-fluid mt-4">
  <div class="row">
    <% for(var movie of allMovies) { %>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= movie.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= movie.director %></h6>
          <p class="card-text">
            <%= movie.descritpion %>
          </p>
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="request_access(this); window.location.href = '/admin/selectShowTheatre';"
            id="<%= movie._id %>"
          >
            Select This Movie
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<script>
  function request_access($this) {
    console.log("button clicked");
    var request_data = $this.id;
    console.log("data: " + request_data);
    $.post("savemovieid", { showMovieId: request_data }, function (json) {
      $("#request-access").hide();
      console.log("requested access complete");
    });
  }
</script>
